<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBw2tOvvzD83oUX4MEQeK1YLKog-o_Lpw</string>
	<key>GCM_SENDER_ID</key>
	<string>916517076083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serch.user</string>
	<key>PROJECT_ID</key>
	<string>serch-2eb43</string>
	<key>STORAGE_BUCKET</key>
	<string>serch-2eb43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916517076083:ios:1eb8b166f7408d5e9e3e06</string>
</dict>
</plist>